#phone {
    padding-left: 20px;
    padding-top: 20px;
}
.phoneCart{
    display: flex;
    
}
.phoneCart img{
   width: 15%;
  
   margin-top: 20px;
   margin-left: 10px;
}
#icon{
    margin-top: 40px;
    /* padding-left: 5px; */
    padding: 5px;
    border: 1px solid black;
}
@media only screen and (max-width: 600px) {
.phoneCart img{
    width: 50px;
    height: 50px;
}
.phoneCart{
    width:auto;
    margin: 0;
    padding: 0;

}
#phone {
   
    padding-top: 0px;
}
}

