.Shop{
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.product{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 30px;
}
.cart{
    background-color: bisque;
    position: sticky;
    top: 0;
    border-radius: 20px;

   
}
#text{
    text-align: center;
}
#btn1{
    border: none;
    width: 50%;
    height: 30px;
    margin-left: 60px;
    margin-top: 20px;
    color: white;
    background-color: cadetblue;
}
#btn2{
    border: none;
    width: 50%;
    height: 30px;
    margin-left: 60px;
    margin-top: 0;
    color: white;
    background-color: cadetblue;
}
@media only screen and (max-width: 600px) {
    .Shop{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .product{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-gap: 30px;
    }
    #btn1{
        margin-left: 5px;
        height: auto;
        width: auto;
    }
    #btn2{
        margin-left: 5px;
        height: auto;
        width: auto;
    }
    .cart{
        width: auto;
    }
}